*{
	box-sizing: border-box;

}

body{
	font-family: 'Roboto', sans-serif;
	background-image: url("images/patt.png");


}

.container{
	width: 1170px;
	margin: 0 auto;
}

.header{
	background-color: rgba(255, 255, 255, 0.75);
	padding: 25px 0;
}

.flex-row, .menu{
	display: flex;
}

.box-1{
	flex: 3;
}

.box-1 > a > img{
	margin-top: 7px;
}

.box-2{
	flex: 6;
}

.box-3{

	display: flex;
	flex: 3;
	justify-content: space-around;

}


.menu{
	justify-content: center;	
}
.menu > li{
	border-left: 1px solid;
	border-color: #2c71b8;
	text-align: center;
	width: 140px;
	position: relative;	
}

.menu li:last-child{
	border-right: 1px solid #2c71b8;
}

.menu a{
	display: block;	
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	color: #2c71b8;
	font-size: 21px;
}

.menu a:hover{
	color: white;
	background-color:#2c71b8;
}


.dropdown{
	display: none;
	background-color: #2c71b8;
	width: 200%;
	position: absolute;	
	text-align: left;
}

.dropdown a{
	color: 	white;
	height: 40px;
	padding-left: 15px;
}

.dropdown a:hover{
	color: #2c71b8;
	background-color: white;
}

ul.menu > li:hover > ul.dropdown{
	display: block;
}

.field{
	position: relative;
	margin-top: 5px; 
	width: 200px;
	height: 35px;
	border-color: #4c86c3;
	border-width:1px;
	border-style: solid;
}

::-webkit-input-placeholder{ 
	color: #4c86c3;
}

.search{
	padding-left: 5px;
	width: 100px;
	background-color: transparent;
	color: #4c86c3;
	border: none;
    outline: none;
    -webkit-appearance: none;
    font-size: 21px;
	font-family: roboto;
	font-weight:300;
}

.button{
	display: block;
	background-image: url("images/icon.jpg");
	background-size: cover;
	position: absolute;
	top: 5px;
	right: 5px;  
	width: 20px;
	height: 20px;
	background-color: #4c86c3;
}


.shop{
	position: relative;
	margin-top: 5px;
	width: 35px;
	height: 35px;
	background-color: white;
	padding: 7px;
}

.bag{
	top: -10px;
	left: -10px;
	font-size: 12px;
	text-align: center;
	line-height: 13px;
	color: white;
	position: absolute;
	width: 15px;
	height: 15px;
	background-color: #4c86c3;
	border-radius: 50px;
}





/*[class*="box-"], .menu > li{
	border: 2px solid black;	
}*/