*{
	box-sizing: border-box;

}

body{
	font-family: 'Roboto', sans-serif;
	background-image: url("images/patt.png");


}

.arrow{
	position: absolute;
	top: 40%;
	right: 10%;
	border: 3px solid #2c71b8;
	transform: rotate(-45deg);
	border-top: none;
	border-right: none;
	display: inline-block;
	width: 8px;
	height: 8px;
}



.container{
	width: 1170px;
	margin: 0 auto;
}

.header{
	background-color: rgba(255, 255, 255, 0.75);
	padding: 25px 0;
}

.flex-row, .menu{
	display: flex;
}

.box-1{
	flex: 3;
}

.box-1 > a > img{
	margin-top: 7px;
}

.box-2{
	flex: 6;
}

.box-3{

	display: flex;
	flex: 3;
	justify-content: space-around;

}

.menu{
	justify-content: center;	
}
.menu > li{
	border-left: 1px solid;
	border-color: #2c71b8;
	text-align: center;
	width: 140px;
	position: relative;	
}

.menu li:last-child{
	border-right: 1px solid #2c71b8;
}

.menu a{

	display: block;	
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	color: #2c71b8;
	font-size: 21px;
	font-weight: 300;	
}

.menu li:hover{
	background-color:#2c71b8;
	border: none;
}

.menu li:hover > a{
	color: white;
}

.menu li:hover > a > .arrow{
	border-color: #fff;
}


.dropdown{
	padding-top: 15px;
	display: none;
	background-color: #2c71b8;
	width: 200%;
	position: absolute;	
	text-align: left;
}

ul.menu > li:hover > .dropdown, div.sortlist > span:hover > .dropdown{
	display: block;
}


div.sortlist > span:hover > .dropdown{
	width: 100%;
	z-index: 1;
	border: 1px white solid;
	padding: 0px;
	left: 0;
}

.dropdown a{
	line-height: 40px;
	color: 	white;
	height: 40px;
	padding-left: 18px;
}


.dropdown li:hover, div.sortlist > span:hover{
	background-color:white;
	color: #2c71b8;
}

.dropdown li:hover > a{
	color: #2c71b8;
}

div.sortlist > span:hover > .dropdown > li > a{
	text-decoration:none;
}


.field{
	position: relative;
	margin-top: 5px; 
	width: 200px;
	height: 35px;
	border-color: #4c86c3;
	border-width:1px;
	border-style: solid;
}

::-webkit-input-placeholder{ 
	color: #4c86c3;
}

.search{
	padding-left: 5px;
	width: 100px;
	background-color: transparent;
	color: #4c86c3;
	border: none;
    outline: none;
    -webkit-appearance: none;
    font-size: 21px;
	font-family: roboto;
	font-weight:300;
}

.button{
	display: block;
	background-image: url("images/icon.jpg");
	background-size: cover;
	position: absolute;
	top: 5px;
	right: 5px;  
	width: 20px;
	height: 20px;
	background-color: #4c86c3;
}


.shop{
	position: relative;
	margin-top: 5px;
	width: 35px;
	height: 35px;
	background-color: white;
	padding: 7px;
}

#bag{
	top: -10px;
	left: -10px;
	font-size: 12px;
	text-align: center;
	line-height: 15px;
	color: white;
	position: absolute;
	width: 15px;
	height: 15px;
	background-color: #4c86c3;
	border-radius: 50px;
}



.slider{
	width: 100%;
	height: 400px;
	background-color: rgba(0, 0, 0, 0.5);
}


.main > .container {
	display: flex;
	justify-content: space-between;

}
.sidebar{
	flex: 3;
	background-color: rgba(255, 255, 255, 0.3);
	padding-top: 30px;
	
}

.sidebar > div{
	margin-bottom: 60px;
	margin-left: 30px;
}

.sidebar > div > p{
	color: white;
	font-weight: lighter;
	font-size: 21px;
	margin-bottom: 20px;
	text-align: left;
}

.sidebar > div > p:first-child {
	font-weight: bold;
	text-transform: uppercase;
	}

.margin_none, .sidebar > div > p:last-child{
	margin-bottom: 0px !important;
	}


.sidebar > div:last-child{
	margin: 0 30px 30px 30px;
}

label{
	position: relative;

}

label:before{
	content: "";
	width: 10px;
	height: 10px;
	margin-right: 10px;
	display: inline-block;
	border: 1px solid white;
}

input[type="checkbox"]{
	display: none;
}

input[type="checkbox"]:checked + label:before{
	background-color: white;
}


#show_more{
	display: block;
	width: 210px;
	margin: 30px;
	text-align: center;
	color: white;
	text-decoration: none;
	font-size: 21px;
	font-weight: lighter;
	
}



.catalog{
	display: flex;
	flex-direction: column;
	flex: 9;
	height: 845px;
	margin: 30px 0 0 30px;


}

.directions{
	padding: 0 0 30px 0;
}

.directions, .directions > a{
	text-decoration: none;
	color: white;
	font-size: 14px;
	font-weight: lighter;
}

.directions > a:last-child{
	text-decoration: underline;
}

.top{
	display: flex;
	color: white;
	padding: 0 0 30px 0;
}	

.label{
	flex: 6;
	font-size: 48px;
	font-weight: bold;
}

.sortlist{
	width: 270px;
	border: 1px white solid;
}

.sortlist:hover{
	border: 0px;
}

.sortlist > span{
	position: relative;
	display: block;	
	height: 40px;
	line-height: 40px;
	font-size: 21px;
	font-weight: 300;	
	background-color:#2c71b8;
	padding-left: 18px;
}


.sortlist > span > div.arrow{
	border-color: white;
}


.sortlist > span:hover > div.arrow{
	border-color: #2c71b8;;
}


.sortlist > .dropdown{
	width: 100%;
}

.cards{
	display: flex;
	flex-wrap: wrap;
	flex: 9;
}

.cards > .row{
	display: flex;
	flex-direction: row;
	flex: 9;
	justify-content: space-between;
	margin: 0 0 30px 0;
}

.cards > .row > div{
	height: 650px;	
	width: 270px;
	display: flex;
	flex-direction: column;
	border: 1px white solid;
}


.itempic{
	position: relative;	
	background-color: rgba(255, 255, 255, 0.4);
	height: 180px;	
	width: 100%;
	
}
.itempic > img{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

.itempic > div{
	position: absolute;
	top: 10px;
	right: 10px;
}

.itempic > div > div{
	width: 30px;
	height: 30px;
	border: 1px solid #2c71b8;
	background-repeat: no-repeat; 
	background-position: center;
	margin-bottom: 10px;
}

.like{
	background-image: url("images/icon (5).png");
}

.scale{
	background-image: url("images/icon (8).png");
}

.like:hover{
	background-image: url("images/icon (7).png");
	background-color: #2c71b8;

}

.scale:hover{
	background-image: url("images/icon (6).png");
	background-color: #2c71b8;
}


.descript > p{
	color: white;
	margin-top: 15px; 
	padding-left: 15px;
	font-weight: 100;
	font-size: 21px;
	display: block;
}

.descript > p:first-child{
	font-weight: bold;
	font-size: 30px;
}

.descript > p:nth-child(2){
	height: 65px;
}

.descript > p > span{
	font-weight: bold;
	font-size: 21px;
	text-transform: uppercase;
}

.descript > p:last-child{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 48px;
	text-align: center; 
	padding: 0px;
}

.descript > p:last-child > span{
	vertical-align: super;
}

.buttons{
	padding: 30px
}

.submit, .buttons > button{
	color: white;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 21px;
	border: 1px solid white;
	text-align: center;
	height: 50px;
	width: 210px;
	background-color: #2c71b8;
}


.buttons > button:last-child, button:first-child:hover, .submit:hover{
	background-color: rgba(255, 255, 255, 0.3);
}

.buttons > button:last-child {
	margin-top: 10px; 
	background-image: url("images/icon (2).png");
	background-repeat: no-repeat;
	background-position: 95%;
}

.buttons > button:last-child:hover{
	background-color: #2c71b8;
}


.submit{
	line-height: 50px;
}


	

/*[class*="box-"], .menu > li{
	border: 2px solid black;	
}*/